@use "../../styles/mixin.module.scss";
.main{
    background: #FDFDFD;
    padding: 20px 30px;
    .secLogo{
        .logo{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            gap: 20px;

            p{
                @include mixin.font('Montserrat', normal, 700, 2.3rem, 2.8rem, -0.382174px, #252531);

            }
        }
    }
    .secInput{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;
        .input{
            width: 60%;
            position: relative;
            input{
                height: 30px;
                @include mixin.font('Public Sans', normal, 500, 1.2rem, 1.4rem, -0.382174px, #191919);

            }
            button{
                height: 100%;
                background-color: #F4F4F4;;
                position: absolute;
                padding: 0px 10px;
                top: 0;
                right: 0;
                img{
                    height: 23px;
                    width: 23px;
                }
            }
           
        }
        .icons{
            display: flex;
            gap: 10px;
            div{
                p{
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .main{
        .secInput{
            .icons{
                gap: 35px;
                div{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    p{
                        display: block;
                    }  
                }
            }
        }
    }
}