.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4F4F4;;
    section{
        background: #FCFCFC;
        width: 100%;
        height: 100%;
        padding: 32px ;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .div1 {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1{
                margin: 11.43px 0px 32px 0px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 22px;
                line-height: 27px;
                color: #252531;
            }
        }
        .div2{
        text-align: center; 
        h1{
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.382174px;
            color: #383842; 
            margin-bottom: 8px;
        }
        p{
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: -0.382174px;
            color: #191919;
            margin-bottom: 24px;
        }
        }
        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .label{
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: -0.382174px; 
                color: #383842;  
            }
            .input{
                background: #F8F8F8;
                border: 1.5px solid #858585;
                border-radius: 6px;
                padding: 12.30px 17.30px;
                height: 44px ;
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: -0.382174px;    
                color: #858585;
                margin-bottom: 24px;
            }
            .button{
                padding: 20px 16px;
                gap: 8px;
                width: 112px;
                height: 56px;
                background: #B7005C;
                border-radius: 30px;
                font-family: 'Public Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: -0.38px;
                color: #F3F3F3;
                margin-bottom: 32px;
            }
        }
       
        p{
            font-family: 'Public Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: -0.382174px;
            color: #191919;
                    }
    }
}

@media screen and (min-width: 768px) {
    .main{
        section{
            justify-content: flex-start;
            width: auto;
            height: auto;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
            border-radius: 6px;
        }
        form{
            .input{
                width: 388px;
            }
        }
    }
}

