@use "../../styles/mixin.module.scss";
.main{
    section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 48px;
        div{
            padding: 20px;
            background: #FCFCFC;
            border-radius: 8px;
            width: 382px;
            .title{
                @include mixin.font('Public Sans',normal,500,1.4rem,2rem,-0.382174, #191919);
                margin-top: 14px;
                margin-bottom: 8px;
            }
            .price{
                @include mixin.font('Public Sans',normal,600, 3.2rem,3.8rem,-0.382174, #D10070 );
            }

        }
    }
}