@use "../../styles//mixin.module.scss";
.main{
    max-width: 100vw;
    height: 100vh;
    padding: 32px;
    background: #F4F4F4;
    p{
        width: 100%;
        @include mixin.font('Public Sans', normal, 400, 1rem, 1.7rem, -0.382174px, #999999);
        margin-bottom: 32px;
    }
    .product{
        padding: 32px;
        display: flex;
        flex-wrap: wrap;
        background: #FCFCFC;
        border-radius: 6px;
        h1{
            @include mixin.font('Public Sans', normal, 600, 1.8rem, 2.2rem, -0.382174px, #383842);
            margin-bottom: 8px;
        }
        .soldBy{
            @include mixin.font('Public Sans', normal, 400, 1.2rem, 1.4rem, -0.382174px, #383842);
            margin-bottom: 22px;
        }
        .price{
            @include mixin.font('Public Sans', normal, 700, 3rem, 3.7rem, -0.382174px, #B7005C);

        }
    }
}
    