@use "../../styles/mixin.module.scss";
.main{
    max-width: 100vw;
    min-height: 100vh;
    padding: 60px 100px;
    background: #F4F4F4;
    @include mixin.flex(row, start, start);
    section{
        max-width: 100%;
    }
}