@use "../../styles/mixin.module.scss";
.main{
    height: 81vh;
    width: 100vw;
    max-height: 81vh;
    background: #F4F4F4;
    padding: 20px;
    section{
        width: 100%;
        height: auto;
        max-height: 100%;
        background: #FCFCFC;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        
        .containerTable{
            height: auto;
            max-height: 100%;
            overflow-y: scroll;
            table{
                border-radius: 30px;
                thead{
                   tr{
                        th{
                            padding: 25px;
                        }
                   }
                }
                tbody{
                    tr{
                        .tdImage{
                            padding: 0;
                            img{
                                object-fit: contain;
                                max-width: none;
                                width: auto;
                                height: 100px;
                            }
                        }
                        td{
                            @include mixin.font('Public Sans', normal, 400, 1.6rem, 1.9rem, -0.382174px, #191919);
                            text-align: start;
                            .count{
                                display: flex;
                                gap: 16px;
                                align-items: center;
                                p{
                                    @include mixin.font('Public Sans', normal, 400, 1.4rem, 1.6rem, -0.382174px, #858585);
                                }
                                div{
                                    width: 100px;
                                    background: #F4F4F4;
                                    border-radius: 6px;
                                    display: flex;
                                    justify-content: space-around;
                                    align-items: center;
                                    @include mixin.font('Public Sans', normal, 400, 1.6rem, 1.9rem, -0.382174px, #191919);
                                    padding: 7px 0px;
                                    
                                    span{
                                        @include mixin.font('Public Sans', normal, 900, 1.6rem, 1.9rem, -0.382174px, #B7005C);
                                        margin: 0px 10px;
                                        cursor: pointer;
                                    }
                                
                                }
                            }
                        }
                    }
                }
            }         
        }
        .checkout{
            padding: 30px 10px;
            display: flex;
            gap: 30px;
            justify-content: end;
            align-items: center;
            button{
                background: #B7005C;
                border-radius: 80px;
                padding: 20px 16px;
                @include mixin.font('Public Sans', normal, 700, 1.6rem, 1.9rem, -0.382174px, #F3F3F3);
            }
        }
    }
}